{% extends 'layout.html' %}
{% block title %}Accounts{% endblock %}

{% block page %}

<h1 class="display-3 text-center">Account operations</h1>
<table class="table">
	<thead class="thead-dark">
	<tr>
		<th scope="col">Search</th>
		<th scope="col">Customer Information</th>
		<th scope="col">Operations</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>
			<form action="" method="post">
				<div class="form-group">
					<label for="search_cust_id">Customer ID</label>
					<input autofocus class="form-control" id="search_cust_id" name="" pattern=".{9}" type="number">
				</div>
				<h2 class="display-4 text-center">OR</h2>
				<div class="form-group">
					<label for="search_acc_id">Account ID</label>
					<input class="form-control" id="search_acc_id" name="" pattern=".{9}" type="number">
				</div>

				<button class="btn btn-primary" type="submit">Find</button>
			</form>
		</td>
		<td>
			<table class="table">
				<tbody>
				<tr>
					<th scope="col">Customer ID</th>
					<td><input disabled id="cust_id" pattern=".{9}" type="number"></td>
				</tr>
				<tr>
					<th scope="col">Account ID</th>
					<td><input disabled id="acct_id" pattern=".{9}" type="number"></td>
				</tr>
				<tr>
					<th scope="col">Account Type</th>
					<td><input disabled id="acct_type" type="text"></td>
				</tr>
				<tr>
					<th scope="col">Balance</th>
					<td><input disabled id="bal" type="number"></td>
				</tr>
				</tbody>
			</table>
		</td>
		<td>
			<div class="form-group">
				<a class="btn btn-primary"
				   href="{{url_for('cashier.deposit') }}">Deposit</a>
			</div>
			<div class="form-group">
				<a class="btn btn-warning"
				   href="{{url_for('cashier.transfer') }}">Transfer</a>
			</div>
			<div class="form-group">
				<a class="btn btn-dark"
				   href="{{url_for('cashier.withdraw') }}">Withdraw</a>
			</div>
		</td>
	</tr>
	</tbody>
</table>


{% endblock %}