{% extends 'layout.html' %}
{% block title %}Deposit{% endblock %}

{% block page %}

<h1 class="display-3 text-center">Deposit Money</h1>
<form action="" method="post">
	<div class="container text-center">
		<table class="table">
			<tbody>
			<tr>
				<th scope="col">Customer ID</th>
				<td><input disabled id="cust_id" pattern=".{9}" required type="number"></td>
			</tr>
			<tr>
				<th scope="col">Account ID</th>
				<td><input disabled id="acct_id" pattern=".{9}" required type="number"></td>
			</tr>
			<tr>
				<th scope="col">Account Type</th>
				<td><input disabled id="acct_type" required type="text"></td>
			</tr>
			<tr>
				<th scope="col">Balance</th>
				<td><input disabled id="bal" required type="number"></td>
			</tr>
			<tr>
				<th scope="amt">Deposit Amount</th>
				<td><input id="amt" placeholder="Enter amount" required type="number"></td>
			</tr>
			<tr>
				<td><a class="btn btn-warning form-control" href="{{url_for('cashier.account_detail')}}">Cancel</a></td>
				<td>
					<button class="btn btn-primary form-control" type="submit">Deposit</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</form>
{% endblock %}