{% extends 'layout.html' %}
{% block title %}Account Status{% endblock %}

{% block page %}

<h1 class="display-3 text-center">Account Status</h1>

<table class="table">
	<thead class="thead-dark">
	<tr>
		<th scope="col">SSN ID</th>
		<th scope="col">Account ID</th>
		<th scope="col">Account Type</th>
		<th scope="col">Account Status</th>
		<th scope="col">Message</th>
		<th scope="col">Last Updated</th>
		<th scope="col">Operations</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Loop on this</td>
		<td>tr tag</td>
		<td>start loop before tr tag</td>
		<td>start loop before tr tag</td>
		<td>start loop before tr tag</td>
		<td>start loop before tr tag</td>
		<td><a href="">Refresh</a></td>
	</tr>
	</tbody>
</table>
<button class="btn btn-primary" onclick="">Refresh Entire List</button>

{% endblock %}